$bgcolor: rgb(255, 255, 255);
$textcolor: rgb(0, 0, 0);
$fontsize: 1rem;

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

:root {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  --text-primary: #000000;
  --text-secondary: #363636;
  --bg-primary: #ffe2ca;
  --bg-secondary: #e4c2a6;
  --transition-speed: 600ms;
}


//HEADER

.header {
  padding: 1.5rem;
	text-align: center;
	font-size: 1.2rem;
	background-color: #ffe2ca;
  margin: 1.2rem;

  a {
    text-decoration: none;
  }
}

.header_title {
  color: #363636;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  margin-left: 1.3rem;
	
	ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
	}

	li {
    width: 100%;
    
    &:last-child {
      margin-top: auto;
    }
	}

	a {
		display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);

		&:hover {
			filter: grayscale(0) opacity(1);
      background: var(--bg-secondary);
      color: var(--text-secondary);
		}
	}
}

.link-text {
  margin: 1rem;
}

.icon {
  margin-left: 1rem;
}


//MAIN
main {
  margin-left: 7rem;
}

//ARTICLES
.article {
	border: 0.06rem solid #000000;
	padding: 1.8rem;
	margin: 3.1rem;
}

.article_content {
  p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  a {
    color: #3c76d4;
    text-decoration: none;
    width: max-content;

		&:hover {
      color:#000000;
    }
  }
}

.article_content-link {
  display: flex;
  flex-direction: column;
  a {
    margin-top: 1rem;
  }
}


//ARTICLE
.loading {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}


//ADMIN PANEL
.admin_header {
  font-weight: bold;
  margin: 5rem;
  text-align: center;
  border: 0.06rem solid #555555;
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: -10px 10px 1px 1px #3d79da9a;

  h1 {
    font-size: 1.2rem;
  }
}

.admin_crud {
  padding: 2rem;
  margin: 2rem;
  border: 0.06rem solid #555555;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 0.2rem;

	a {
		display: flex;
    align-items: center;
    height: 3rem;
    color:#222222;
    text-decoration: none;
    transition: var(--transition-speed);
    max-width: 100%;
    padding: 1rem;

		&:hover {
			filter: grayscale(0) opacity(1);
      background: #3d79da9a;
      color: #ffffff;
    }
  }

  table {
    border-collapse: collapse;

    td {
      border: 0.06rem solid #555555;
    }

    th {
      font-size: 1.5rem;
      padding: 1.5rem;
    }
  }
}

//LINKS
.link_panel, .link_articles, .link_homepage {
  color: #3c76d4;
  border: 0.06rem solid #3c76d4;
  text-decoration: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 3.5rem;

  &:hover {
    color:#000000;
    border: 0.06rem solid #000000;
  }
}


//RECURRENT

.container {
  h2 {
    margin: 2rem;
  }
}

form {
  margin: 2rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #3d79da9a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.alert_success {
  margin: 2rem;
  color: #40bd3c;
}

.alert_error {
  margin: 2rem;
  color: #d32121;
}